.slide_type_caption:after {
    display: none;
}

.slide:after
{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    width: 30px;
    height: 50px;
    background: lightskyblue;
    color: #fff;
    counter-increment: slide;
    content: counter(slide);
    text-align: center;
    font-size: 16px;
}

.cover ~ h2 {
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    position: absolute;
}

.columns {
    position: relative;
    width: 100%;
}

.columns__col {
    display: inline-block;
    vertical-align: top;
}

.columns__col_position_left,
.columns__col_position_right {
    width: 50%;
}

.gist_fullscreen > div {
    padding: 0 0 0 20px;
    height: 100%;
}

.ace {
    padding: 0;
}

.ace h2
{
    margin-bottom: .2em;
}

.ace_screen_full {
    padding: 0 5px 0 5px;
}

.ace_screen_full:after {
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    font-size: 12px;
    padding: 0;
}

.ace_screen_full h2 {
    text-align: center;
    margin-bottom: 10px;
}

.ace_screen_full a
{
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    background: #fff;
    display: inline-block;
    z-index: 1;
}

.sample-frame__viewport {
    /* overflow-y: auto;*/
}

.ace-sample-frame {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    border: 5px solid lightgrey;
    box-sizing: border-box;
}

.ace-sample-frame_screen_full {
    width: 100%;
    height: 100%;
}

.slideshare
{
    padding: 0;
}

.slideshare > iframe
{
    width: 100%;
    height: 100%;
}

.slideshare:after
{
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    font-size: 12px;
    padding: 0;
}

.gist .blob-num,
.gist .blob-code-inner {
    line-height: 1.1em !important;
}

.key {
    color: #7F0000;
    font-weight: bold
}

.value {
    color: #008000;
    font-weight: bold;
}

.keyword {
    color: #000080;
    font-weight: bold;
}

.const {
    font-weight: bold;
    font-size: 1.2em;
    color: #660E7A;
}

.no-border,
.no-border tr,
.no-border th,
.no-border td {
    border: none;
    background: none !important;
}
